@using DMARC.Shared
@using DMARC.Shared.Model
@page "/reports"
@inject HttpClient Http

<h1>DMARC reports</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_reports == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Domain</th>
                <th>Email</th>
                <th>Begin</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in _reports)
            {
                <tr>
                    <td>@report.Domain</td>
                    <td>@report.Email</td>
                    <td>@report.Begin.Date.ToShortDateString()</td>
                    <td>@report.End.Date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    private Report[] _reports;

    protected override async Task OnInitAsync()
    {
        _reports = await Http.GetJsonAsync<Report[]>("api/Report");
    }
}
